html {
  font-size: 62.5%;
}

.container top {
  max-width: 900px;
  margin: 150px auto;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.2em;
  color: #151313;
  text-align: center;
}


body {
  color: rgb(7, 3, 27);
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
}

a:link,
a:visited {
  color: #151313;
  text-decoration: none;
}

header {
  max-width: 900px;
  margin: 10px auto;
}

header p img {
  width: 100%;
  height: auto;
}
ul {
  display: flex;
  background-color: white;
  color: #666;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0;
  height: 30px;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
}

.todo ul {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  list-style-type: disc;
}

.sns {
  background-color: black;
  max-width: 900px;
  margin: 0 auto;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  height: 50px;
}

.sns li {
  width: 50px;
  text-align: center;
}

.sns img {
  width: 40%;
  padding-top: 0px;
  text-align: center;
}

.footer_copyright {
  font-family: helvetica;
  font-weight: normal;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
}
main {
  height: 800px;
}
main h2 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.2em;
  color: rgb(29, 28, 28);
  text-align: center;
  margin: 80px 0 10px;
}

main p {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.2em;
  color: rgb(29, 28, 28);
  text-align: center;
  font-weight: lighter;
  font-size: smaller;
  margin: 5px 10px;
}

.hob {
  display: inline-block;
  font-family: helvetica;
  font-weight: normal;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  height: 300px;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hob p {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 9px;
  text-align: left;
}
.hob_title {
  font-family: helvetica;
  font-weight: bolder;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  margin-top: 50px;
}

.title {
  font-weight: normal;
    text-rendering: optimizeLegibility;
    margin: 0;
    margin-bottom: 8px;
    line-height: 150%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2em;
    color: #151313;
    text-align: center;

}

.divider {
  border: none;
    border-top: 1px solid #242a2c;
    margin-bottom: 20px auto;
    width: 450px;
}

.works_container {
  height: 500px;
}

.st {
  position: sticky;
  top: 0;
  z-index: 1000;
}